{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Resources": {
    "ToUpper": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Role": "arn:aws:iam::76803399999:role/service-role/Abc-role",
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject::TestServerlessApp.Sub1.Functions_ToUpper_Generated::ToUpper"
          ]
        }
      }
    }
  }
}